<div class="ava-part">
  <h3 class="header-title">Rails & Angular Sample</h3>
  <% if current_user %>
      <div id="right-menu">
        <img src=<%= current_user.avatar.url %> alt="..." class="img-circle" width="48px" height="48px">

            <%= current_user.name.length > 5 ?
                        "Welcome " + current_user.name.first(5) + '...' :
                        "Welcome " + current_user.name %>


      </div>
  <% end %>
</div>


