<div class="ava-part">
  <div class="container">
    <img src="http://www.gravatar.com/avatar/12fafe8c1ff83cf544e24e348c6af6d6?s=140&d=retro" class="img-circle thumbnail">
    <h3 class="ava-name">Rails & Angular Sample</h3>
  </div>
</div>
