<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="#">Snippet</a>

    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only"> Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <% if current_user %>
            <li><a href="#"><%= current_user.name %></a></li>
            <li><a href="" class="glyphicon glyphicon-comment"></a></li>
            <li><a href="" class="glyphicon glyphicon-log-out"></a></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>