<a class="profile-pic-border" href="">
  <img class="profile-pic"
       id="mainUserProfilePic"
       src="<%= current_user.avatar.url %>"
       oncontextmenu="return false;"
       onmousedown="preventImageDrag(event);"
       ondragstart="return false;"
       onselectstart="return false;"
       width="178px"
       height="178px"
  />
</a>

<div style="width: 185px; max-width: 100%; margin-left: 0; padding: 20px 2px 20px 2px; margin-top: 20px;">
  <ul class="list-group db-left-box">
    <li class="list-group-item db-left-item">
      <span class="badge">9</span>
      Friends
    </li>
    <li class="list-group-item db-left-item">
      <span class="badge">6</span>
      Tags
    </li>
    <li class="list-group-item db-left-item">
      <span class="badge">90</span>
      Snippets
    </li>
  </ul>

  <div class="db-left-box">

    <span class="tag-item"><span class="glyphicon glyphicon-tag"></span> <a href="">Tag 1, </a></span>
    <span class="tag-item"><span class="glyphicon glyphicon-tag"></span> <a href="">Tag 2,</a></span>
    <span class="tag-item"><span class="glyphicon glyphicon-tag"></span> <a href="">Tag 3,</a></span>
    <span class="tag-item"><span class="glyphicon glyphicon-tag"></span> <a href="">Tag 4,</a></span>
    <span class="tag-item"><span class="glyphicon glyphicon-tag"></span> <a href="">Tag 5</a></span>

  </div>

</div>
