<div style="width: 92%; margin-left: 0; padding: 20px 2px 20px 2px; margin-top: 20px;">
  <ul class="list-group db-left-box">
    <li class="list-group-item db-left-item">
      <span class="badge">9</span>
      Friends
    </li>
    <li class="list-group-item db-left-item">
      <span class="badge">6</span>
      Tags
    </li>
    <li class="list-group-item db-left-item">
      <span class="badge">90</span>
      Snippets
    </li>
  </ul>

  <div class="db-left-box">
    <% @tags.each do |tag|  %>
        <span class="tag-item" style="line-height: 2 !important;"><span class="glyphicon glyphicon-tag"></span> <a href=""><%= tag %></a></span>
    <% end %>
  </div>

</div>
