<a class="profile-pic-border" href="">
  <img class="profile-pic"
       id="mainUserProfilePic"
       src="<%= current_user.avatar.url %>"
       oncontextmenu="return false;"
       onmousedown="preventImageDrag(event);"
       ondragstart="return false;"
       onselectstart="return false;"
       width="178px"
       height="178px"
  />
</a>


<ul class="list-group" style="width: 178px; max-width: 100%; margin-left: 0; padding: 0; margin-top: 20px;">
  <li class="list-group-item db-left-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
  <li class="list-group-item db-left-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
  <li class="list-group-item db-left-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>