<a class="profile-pic-border" href="">
  <img class="profile-pic"
       id="mainUserProfilePic"
       src="http://st.houzz.com/fimgs/55d3a22b03d1d0fd_9453-w173-h173-b0-p0--colin_dao.jpg"
       oncontextmenu="return false;"
       onmousedown="preventImageDrag(event);"
       ondragstart="return false;"
       onselectstart="return false;"
       height="173"
       width="173">
</a>