<div style="background-color: #ffffff; margin-left: 15%; padding: 50px; width: 70%;">
<div style="text-align: center">
  <h2>WeSnippet</h2>
  <h5>Đào Công Quyết - Eva Hà Nội</h5>
</div>

<h4>Mở:</h4>
<div style="margin-left: 50px">
  - Bạn đã từng dành hàng giờ, thậm chí cả ngày để research lại cùng một thứ? <br />
  - Bạn đã từng được đồng nghiệp hỏi về 1 vấn đề nào đó bạn từng gặp phải mà không nhớ làm như thế nào? <br />
  - Bạn có thành viên mới nhưng không có tài liệu train về những công việc bạn đã làm? <br />
  - Bạn muốn share kiến thức lập trình với những người khác? <br />
  - Bạn muốn học hỏi từ những người khác? <br />
  - Bạn muốn có một trang profile show những đoạn code mà bạn tâm đắc? <br />
</div>

<h4>Mục Tiêu:</h4>
<div style="margin-left: 50px">
  - Giải quyết các bài toán trên của bạn <br />
  - Dễ dàng chia sẻ, ghi lại những đoạn code quan trọng, các tips bạn research hàng giờ trên StackOverFlow, Google <br />
  - Cùng chia sẻ kiến thức, và học hỏi với không chỉ với các team mates, mà cả các team khác, công ty khác, và cả các developers tại các quốc gia khác. Sản phẩm có xu hướng nhằm tới đối tượng là developers trên toàn thế giới. <br />
  - Trở thành một sản phẩm mang tầm vóc Quốc tế nếu được đầu tư. <br />
</div>

<h4>Chức năng:</h4>
<div style="margin-left: 50px">
  - Registration <br />
  - Make Friends & Connect people <br />
  - Create Snippet. ( Snippet là một đoạn code nhỏ, hoặc chia sẻ, hoặc bài viết dưới định dạng HTML ) <br />
  - Create Tags cho Snippet (vd: HTML5, Ruby, .Net, …) <br />
  - View trang Snippet của bản thân và bạn bè <br />
  - View Snippet có chung 1 tag <br />
  - View list snippet update từ bản thân và bạn bè <br />
  - Comment cho đoạn Snippet <br />
  - Like Snippet <br />
  …
</div>

<h4>Dự định:</h4>
<div style="margin-left: 50px">

  - Hoàn thiện các tính năng hiện tại <br />
  - Thiết kế lại giao diện và trải nghiệm người dùng <br />
  - Thêm một số tính năng tương tác mạng xã hội giữa các thành viên, ví dụ như Room hỏi đáp về công nghệ: vd: HTML, Ruby on Rails … <br />
  - Phát triển Ranking users <br />
  - Demo của đoạn code <br />
  ….
</div>
</div>