<div class="container">
  <div id="content-wrapper">
    <div class="row">
      <div>
        <img id="cover" src="http://coverpixs.com/images/items/itm_2013-02-24_11-47-38_9.jpg"/>
        <ul id="navigation">
            <li class="active"><a href="#">Code Wall <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Tags</a></li>
            <li><a href="#">About</a></li>
        </ul>

      </div>

      <div class="col-1 col-offset-small">
        <%= render 'right_col' %>
      </div>

      <div class="col-2 col-offset-small">
        column 1
        <br />
        List content
      </div>
    </div>
  </div>
</div>

<!--Dashboard view-->