<div class="container">
  <div id="content-wrapper">
    <div class="row">

      <%= render 'angular/layouts/common_layout' %>

      <div class="db-main-content col-offset-small">
        <% user = @user ? @user : current_user %>
        <% user.snippets.each do |snippet| %>
            <%= render 'angular/layouts/snippet', snippet: snippet %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--Dashboard view-->