<div class="container">
  <div id="content-wrapper">
    <div class="row">
      <div class="col-1 col-offset-small">
        column 1
        <br />
        List content
      </div>

      <div class="col-2 col-offset-small">
        column 2
        <br />
        Avatar
        Edit Profile
        Statistics
        Friends
      </div>
    </div>
  </div>
</div>

<!--Dashboard view-->