<div class="auth-title" id="edit-profile-title"> Edit Profile </div>

<div style="margin-top: 50px; font-size: 16px; width: 100%; text-align: center;">
    <i><b>Caution:</b> Please make up your profile so that any one viewing will be impressed </i>
</div>

<div style="width: 50%; padding-left: 33%; margin-top: 50px; margin-bottom: 50px;">
  <label>Email</label>
  <input type="text" ng-model="userEmail" placeholder="Enter your email" class="text-input">

  <label>Name</label>
  <input type="text" ng-model="userName" placeholder="Enter your email" class="text-input">

  <label>Age</label>
  <input type="text" ng-model="userAge" placeholder="Enter your email" class="text-input">

  <hr />

  <label style="margin-top: 20px;">Password</label>
  <input type="text" ng-model="userPassword" placeholder="Enter your password" class="text-input">

  <div>
    <button type="button" class="btn btn-success btn-auth" id="btn-sign-up">Sign up</button>
  </div>
</div>