<div class="auth-title"> Sign in </div>

<div id="auth-left-panel" class="col-md-5 col-xs-5">
  <label>Email</label>
  <input type="text" ng-model="userEmail" placeholder="Enter your email" class="text-input">

  <label style="margin-top: 20px;">Password</label>
  <input type="text" ng-model="userPassword" placeholder="Enter your password" class="text-input">

  <div>
    <button type="button" class="btn btn-success btn-auth" id="btn-sign-in">Sign in</button>
  </div>
</div>

<div id="auth-right-panel" class="col-md-4 col-xs-4">
  Don't have your account yet?
  <br />
  <div style="margin-top: 20px;"><a href ng-click="regCtrl.selectScreen('sign_up')"> Sign up now >> </a></div>
  <div style="margin-top: 125px; font-size: 13px;">
    By signing up new account, I agree to the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>
  </div>
</div>