<div id="welcome"><h1> Welcome {{regCtrl.user_params.name}}</h1></div>
<div style="width: 100%; text-align: center; margin-top: 30px;"><img src="{{regCtrl.user_params.avatar.url}}" class="img-circle avatar-thumbnail"></div>