<!-- Avatar Part -->
<%= render 'avatar_part' %>

<!--Menu bar-->
<div class="container" ng-app="registration">
  <div class="row">
    <section ng-controller="registrationCtrl as regCtrl">
      <div ng-show="regCtrl.screenSelected('sign_in')"><%= render 'sign_in' %></div>
      <div ng-show="regCtrl.screenSelected('sign_up')"><%= render 'sign_up' %></div>
      <div ng-show="regCtrl.screenSelected('edit_profile')"><%= render 'edit_profile' %></div>
    </section>

  </div>

</div>
