<div class="form-snippet" ng-controller="snippetsController as spCtrl">

  <!--<div id="error-message" ng-show="spCtrl.error_message">{{spCtrl.error_message}}</div>-->

  <form name="snippetForm" novalidate>
    <fieldset class="form-group">
      <label>Name</label><br>
      <input type="text" name="name" ng-model="spCtrl.name" placeholder="Enter your snippet's name" class="" required/>
    </fieldset>

    <fieldset class="form-group">
      <label>Tags</label><br>
      <input type="text" name="tags" placeholder="Enter your snippet's tag" ng-model="spCtrl.newTag" class="" required/>
      <button class="btn btn-success" id="btn-add-tag" ng-click="spCtrl.addTag()">Add</button>
    </fieldset>

    <ul ng-hide="spCtrl.tags.length == 0">

      <li ng-repeat="tag in spCtrl.tags" class="btn btn-info">
        {{tag}}
        <span class="glyphicon glyphicon-remove" ng-click="spCtrl.removeTag(tag)"></span>
      </li>
    </ul>

    <fieldset class="form-group">
      <label>Content</label><br>
      <textarea name="content" ng-model="spCtrl.content" class="" placeholder="Write your snippet in HTML format" required> </textarea>
    </fieldset>

    <fieldset class="form-group actions">
      <input type="button" value="Create" class="btn btn-primary" ng-click="spCtrl.createSnippet()"/>
    </fieldset>
  </form>

</div>