<div class="row col-md-7 col-xs-7 col-md-offset-3 col-xs-offset-3" id="edit-profile">

  <div class="auth-title" id="edit-profile-title"> Edit Profile </div>

  <div id="error-message" ng-show="regCtrl.error_message">{{regCtrl.error_message}}</div>

  <form name="editProfileForm" novalidate>
    <input name="authenticity_token" type="hidden" ng-model="regCtrl.authenticity_token" value="<%= form_authenticity_token %>" />
    <br />
    <fieldset class="form-group" style="margin-bottom: 50px; text-align: left">
      <label>Change your avatar</label>
      <input type="file" file-model="regCtrl.user_params.avatar"/>
    </fieldset>

    <fieldset class="form-group">
      <label>Name</label><br />
      <input type="name" ng-model="regCtrl.user_params.name" placeholder="Enter your name" class="text-input"/>
    </fieldset>

    <br />
    <fieldset class="form-group">
      <label>Age</label><br />
      <input type="name" ng-model="regCtrl.user_params.age" placeholder="Enter your name" class="text-input"/>
    </fieldset>

    <br />

    <fieldset class="form-group">
      <input type="button" class="btn btn-success btn-auth edit-profile-btn" value="Edit" ng-click="regCtrl.updateUser()"/><br />
      <input type="button" class="btn btn-primary btn-auth edit-profile-btn" value="Skip" ng-click="regCtrl.skipUpdate()"/>
    </fieldset>
  </form>

</div>