<div class="auth-title"> Sign in </div>

<div id="error-message" ng-show="regCtrl.error_message">{{regCtrl.error_message}}</div>

<div id="auth-left-panel" class="col-md-5 col-xs-5">
  <form name="signinForm" ng-submit="regCtrl.signin(signinForm.$valid)" novalidate>

    <fieldset class="form-group">
      <label>Email</label>
      <input type="email" ng-model="regCtrl.user_params.email" placeholder="Enter your email" class="text-input" required/>
      <span style="color:firebrick" ng-show="signinForm.$error.email && isSubmitted"><br/> Email is not valid.</span>
    </fieldset>

    <fieldset class="form-group">
      <label style="margin-top: 20px;">Password</label>
      <input type="password" ng-model="regCtrl.user_params.password" placeholder="Enter your password" class="text-input" required />
      <span style="color:firebrick" ng-show="signinForm.$error.required && isSubmitted"><br/> Please fill in this field.</span>
    </fieldset>

    <fieldset class="form-group">
      <input type="submit" class="btn btn-success btn-auth" id="btn-sign-in" value="Sign in" ng-click='isSubmitted = true'/>
    </fieldset>

  </form>
</div>

<div id="auth-right-panel" class="col-md-4 col-xs-4">
  Don't have your account yet?
  <br />
  <div style="margin-top: 20px;"><a href ng-click="regCtrl.selectScreen('sign_up')"> Sign up now >> </a></div>
  <div style="margin-top: 125px; font-size: 13px;">
    By signing up new account, I agree to the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>
  </div>
</div>