<!--Menu bar-->
<div class="container">
  <div class="row">
    <section ng-controller="registrationCtrl as regCtrl">
      <div ng-show="regCtrl.screenSelected('sign_in')"><%= render 'sign_in' %></div>
      <div ng-show="regCtrl.screenSelected('sign_up')"><%= render 'sign_up' %></div>
    </section>
  </div>
</div>
