.col-offset-small{
    margin-left: 2%;
}

.col-2{
    width: 70%;
    float: left;
}

.col-1{
    width: 25%;
    float: left;
}

#content-wrapper{
    margin-top: 30px;
    padding-bottom: 50px;
}

.profile-pic-border {
    display: block;
    width: 178px;
    height: 178px;
    padding: 2px;

    max-width: 100%;
    max-height: 100%;
    /*min-width: 210px;*/
    margin-right: 10px !important;
    bottom: 0px;
    left: 0px;
    /*margin: 0px 11px;*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border: 2px solid #FFF;
    border-radius: 2px;
    text-align: center;
}

.db-left-item{
    border: none;
    width: 90%;
    padding-left: 0px;
}

.list-group-item:first-child{
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
}

.list-group-item:last-child{
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
}

.tag-item{
    margin-right: 8px;
    line-height: 1.8;
}

.db-left-box{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border: 2px solid #FFF;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}