.navbar{
    border-radius: 0px !important;
    border-color: #080808;
    min-height: 56px !important;
}

.navbar .nav{
    margin-top: 4px;
    float: right;
}

.nav > li {
    float: left;
}

.navbar-brand{
    font-weight: bold !important;
    font-size: 20px;
    color: #f3f3f3 !important;
    float: left;
    min-height: 56px;
    padding: 18px;
}

.navbar-inverse .nav .active>a{
    background-color: transparent;
}

.navbar-nav > li > a{
    padding-bottom: 0;
}

.navbar-toggle{
    float: right;
    margin-right: 2.5%;
}

.navbar-collapse {
}

label {
    font-weight: 500;
    font-size: 16px;
}

#auth-left-panel label{
    min-width: 20%;
}

.sign-up label{
    min-width: 30% !important;
}